<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    <audio class="audios" id="yes-audio" controls preload="none"> 
       <source src="audios/cheers.mp3" type="audio/mpeg">
    </audio>

    <audio class="audios" id="no-audio" controls preload="none"> 
       <source src="audios/boo.mp3" type="audio/mpeg">
    </audio>

    <h1>Am I Ruby?</h1>
    <%= form_for(@search, remote: true) do |f| %>
      <%= f.text_field :keyword, id: 'keyword', placeholder: "twitter.com" %><br><br>
      <%=f.submit "Search", class: "search-btn"%>
    <% end %>
    <section id="result"></section>
    </div>
  </div>
</div>