<ul>
      Made with ♥ by<li><a href="#amiruby" id="credits">Team AmIRuby</a></li> |
      <li><a href="https://github.com/jeremysklarsky/AmIRuby">Source code</a></li> | 
      <li><a href="mailto:info@amiruby.com">Feedback</a></li>
    </ul>